<% layout("layouts/boilerplate") %>
<style>
  .filters{
    display: flex;
    width: 100% !important;
    height: 100px !important;
    overflow: scroll;
    margin-top: 2rem !important;
  }
  .filter{
    opacity: 0.7;
    border-radius: 5px;
    min-width: 75px !important;
    text-align: center;
    margin: 0.5rem;
    height: 3.58rem;
  }
  .filters::-webkit-scrollbar{
    display: none;
  }
  .filter p{
    font-size: 0.8rem;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.58rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-left: 2rem;
    min-width: 250px;
    width: fit-content;
  }
  .filter a {
    color: black;
    text-decoration: none;
  }
  .filter i {
    font-size: 1.2rem;
  }
  @media ((min-width: 1200px) and (max-width: 1400px)){
    .card{
      width: 30.5% !important;
    }
  }

  @media ((min-width: 768px) and (max-width: 1199px)){
    .card{
      width: 45.5% !important;
    }
  }

  @media ((min-width: 576px) and (max-width: 768px)){
    .card{
      width: 95% !important;
    }
  }

  @media (max-width: 577px){
    .card{
      width: 93% !important;
    }
    .filter i {
      font-size: 1rem !important;
    }
    footer .about{
      padding: 1rem 2rem !important;
    }
  }

  @media (max-width: 400px){
    .filter i {
      font-size: 0.95rem !important;
    }
    .filter p{
      font-size: 0.75rem !important;
    }
  }
</style>
<body>
  <div class="filters mt-3">
    <div class="filter">
      <a href="/listings/category/trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/room">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/city">
        <div><i class="fa-solid fa-city"></i></div>
        <p>Cities</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/mountain">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/arctic">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/castle">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/pool">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/farm">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/camping">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/dome">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
      </a>
    </div>
    <div class="filter">
      <a href="/listings/category/ship">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>Ships</p>
      </a>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">
        <label class="form-check-label" for="flexSwitchCheckDefault" style="cursor: pointer;">Display total after taxes</label>
      </div>
    </div>
  </div>
  <!-- <form method="get" action="/listings/new">
    <button>Create New Listing</button>
  </form> <br> -->
  <% if(allListings.length) { %>
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 listing-container">
      <% for(let listing of allListings) { %>
        <div class="card col listing-card" style="width: 30.8%;">
          <a href="/listings/<%= listing._id %>">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image">
          </a>
          <div class="card-body">
            <p class="card-text">
            <b><%= listing.title %></b><br>
            &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
            &nbsp; &nbsp; <i class="tax-info">+18% GST</i>
            </p>
          </div>
        </div>
      <% } %>
    </div>
  <% }else{ %>
    <div class="row">
      <h3 class="mb-3 mt-3 col offset-4">No Listings related to <%= category %></h3>
    </div>
  <% } %>
</body>

<script>
  let taxToggle = document.querySelector("#flexSwitchCheckDefault");
  taxToggle.addEventListener("click", () => {
    let taxInfo = document.querySelectorAll(".tax-info");
    for(info of taxInfo){
      if(info.style.display != "inline"){
        info.style.display = "inline";
      } else{
        info.style.display = "none";
      }
    }
  })
</script>
